<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>385526440158-pccbv38o8b8s67m5n1rpl2b894nklvev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.385526440158-pccbv38o8b8s67m5n1rpl2b894nklvev</string>
	<key>API_KEY</key>
	<string>AIzaSyBQPKrd9cKk57ZbtmRQA5vrdGUCIgoGZaQ</string>
	<key>GCM_SENDER_ID</key>
	<string>385526440158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jaewook.woogie-Messenger</string>
	<key>PROJECT_ID</key>
	<string>woogie-messenger</string>
	<key>STORAGE_BUCKET</key>
	<string>woogie-messenger.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:385526440158:ios:dd1e27b7e979dac7db224f</string>
</dict>
</plist>