<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2021-10-01T13:09:39Z</date>
	<key>WorkspacePath</key>
	<string>/Users/jaewook/Documents/IOS-Dev/woogie-Messenger/woogie-Messenger.xcodeproj</string>
</dict>
</plist>
